
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_FormLayout.cshtml";
}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        @Html.Partial("_BreadcrupbPartial", new List<Tuple<string, string>>()
        {
            new Tuple<string, string>("/Admin/manager/index","用户列表"),
            new Tuple<string, string>(Request.RawUrl,"用户编辑")
        })
    </div>
    <div class="ibox-content">
        <h2>
            用户编辑
        </h2>
        <p>
            注意事项
        </p>
        <form id="form" novalidate="novalidate">
            <div class="row">
                
                <div class="col-sm-8">
                    <div class="form-group">
                        <label>角色： </label>
                        <div class="inline">
                            <select class="form-control" name=""></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>启用：</label>
                        <div class="btn-group">
                            <button class="btn btn-white" type="button">左</button>
                            <button class="btn btn-primary" type="button">中</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>登入名： </label>
                        <div  class="inline">
                            <input type="password" class="form-control" name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>登录密码： </label>
                        <div class="inline">
                            <input type="password" class="form-control" name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>确认密码： </label>
                        <div class="inline">
                            <input type="text" name="" class="form-control" placeholder="请输入文本">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>姓名： </label>
                        <div class="inline">
                            <input type="text" name="" class="form-control" placeholder="请输入文本">

                        </div>
                    </div>
                    <div class="form-group">
                        <label>电话： </label>
                        <div class="inline">
                            <input type="text" name="" class="form-control" placeholder="请输入文本">

                        </div>
                    </div>
                    <div class="form-group">
                        <label>邮箱： </label>
                        <div class="inline">
                            <input type="text" name="" class="form-control" placeholder="请输入文本">

                        </div>
                    </div>

                </div>

            </div>



            <div class="actions clearfix">
                        <button class="btn btn-primary" type="button" onclick="submitForm()">提交修改</button>
                        <a class="btn btn-default"
                           href="javascript:document.referrer?location.href=document.referrer:history.go(-1);">
                            返回
                        </a>
            </div>
        </form>
    </div>
</div>

