@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ListLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @Html.Partial("_BreadcrupbPartial", new List<Tuple<string, string>>()
                    {
                        new Tuple<string, string>("/Admin/manager/index","用户列表"),
                    })
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script type="text/javascript">
        window.manager = (function($, zq) {
            var manager = {}, $table = $("#table"), $searchBtn = $("#searchBtn");
            /**
            * 表格数据列设置
            */
            var columns = [
                {
                    data: "Id",
                    visible: true
                },
                { title: "登入名", data: "LoginName" },
                { title: "真实姓名", data: "UserName" },
                { title: "手机号码", data: "CellPhone" },
                { title: "系统角色", data: "RoleName" },
                {
                    title: "操作",
                    data: "Id",
                    render: function(data, type, row) {
                        var btn = '<a class="btn btn-primary btn-xs" href="/admin/manager/edit/{0}">编辑</a>'.format(data);;
                        btn += "&nbsp;";
                        btn += '<button class="btn btn-primary btn-xs" onclick="manager.delUser({0})">删除</button>'.format(data);
                        return btn;
                    }
                }
            ];
            var table = zq.table({
                $searchBtn: $searchBtn,
                $searchForm: $("#searchForm"),
                $table: $table,
                columns: columns,
                ajaxsetting: { url: "/Manager/List" }
            });

            return manager;
        })($, zq);
    </script>
}