@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ListLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @Html.Partial("_BreadcrupbPartial", new List<Tuple<string, string>>()
                    {
                        new Tuple<string, string>("/Admin/role/index","角色列表"),
                    })
                </div>
                <div class="ibox-content">
                    <div class="mb10 fl">
                        <button class="btn btn-info btn-rounded" type="button" onclick="role.add()">
                            <i class="glyphicon glyphicon-plus">添加</i>
                        </button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script type="text/javascript">
        window.role = (function($, zq) {
            var role = {}, $table = $("#table"), $searchBtn = $("#searchBtn");
            /**
            * 表格数据列设置
            */
            var columns = [
                {
                    data: "Id",
                    visible: true
                },
                { title: "角色名称", data: "Name" },
                {
                    title: "操作",
                    data: "Id",
                    render: function(data, type, row) {
                        var btn = '<a class="btn btn-primary btn-xs" href="/admin/role/edit/{0}">编辑</a>'.format(data);;
                        btn += "&nbsp;";
                        btn += '<button class="btn btn-primary btn-xs" onclick="role.del({0})">删除</button>'.format(data);
                        return btn;
                    }
                }
            ];
            var table = zq.table({
                $searchBtn: $searchBtn,
                $searchForm: $("#searchForm"),
                $table: $table,
                columns: columns,
                ajaxsetting: { url: "/role/list" }
            });

            role.add = function() {
                window.location.href = '/admin/role/add';
            }

            return role;
        })($, zq);
    </script>
}