<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Admin/libs/jeasyui/themes/default/easyui.css" rel="stylesheet" id="easyuiTheme" />
    <link href="~/Areas/Admin/libs/icons/icon-hamburg.css" rel="stylesheet" />
    <link href="~/Areas/Admin/libs/icons/icon-standard.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/style.css" rel="stylesheet" />

</head>
<body id="framebody" class="easyui-layout">

    @RenderBody()

    <script src="~/Areas/Admin/libs/jquery/jquery-1.12.2.min.js"></script>
    <script src="~/Areas/Admin/libs/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Areas/Admin/libs/jeasyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Areas/Admin/libs/zq/zq.js"></script>
    <script src="~/Areas/Admin/libs/zq/zq.expand.js"></script>
    <script src="~/Areas/Admin/libs/zq/zq.easyui.js"></script>
    @RenderSection("Script")

    <script>
        zq.easyui.changeTheme(zq.cookie.get('easyuiTheme'));
    </script>
</body>
</html>
