<!DOCTYPE html>
<html>
<head>
    <title>用户登录</title>
    <link href="~/Areas/Admin/css/login.css" rel="stylesheet" />
</head>
<body style="background-color: #fff; font-size: 12px;">
    @RenderBody()
    <script>
        if (top !== self) { top.window.location.href = self.window.location.href;}
    </script>
</body>
</html>
