<div class="col-sm-offset-2 col-sm-9">
    <button class="btn btn-primary" type="button" onclick="submitForm()">提交修改</button>
    <a class="btn btn-default"
       href="javascript:document.referrer?location.href=document.referrer:history.go(-1);">
        返回
    </a>
</div>