<!DOCTYPE html>
<html>
<head>

    @Html.Partial("_ReferencePartial")
    <link href="~/Areas/Admin/js/plugins/layer/skin/layer.css" rel="stylesheet" />
</head>
<body class="gray-bg">

    @RenderBody()


    <!-- 全局js -->
    <script src="/Areas/Admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Areas/Admin/js/bootstrap.min.js?v=3.3.6"></script>

    <script src="/Areas/Admin/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Areas/Admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Areas/Admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script src="~/Areas/Admin/js/plugins/layer/layer.min.js"></script>

    <script src="~/Areas/Admin/js/zq/zq.js"></script>
    <script src="~/Areas/Admin/js/zq/zq.expand.js"></script>

    @RenderSection("Script")

</body>
</html>