<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit">
<title>后台主题UI框架</title>

<!-- CSS文件 -->
<link href="/Areas/Admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/Areas/Admin/css/font-awesome.css" rel="stylesheet">
<link href="/Areas/Admin/css/animate.css" rel="stylesheet">
<link href="/Areas/Admin/css/style.css" rel="stylesheet">
